.task-container {
  margin: 10px;
  padding: 10px 20px;
  border: 0px solid black;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__checkbox {
    margin-right: 10px;
  }

  &__name {
    width: 160px;
    word-wrap: break-word;
  }

  &__button {
    width: 24px;
    height: 24px;
    margin: 0px 5px;
    border: 0px solid black;
    background: none;

    &:disabled {
      pointer-events: none;
    }
  }

  &__svg {
    width: 24px;
    height: 24px;
    
    &:hover {
      cursor: pointer;
    }
  }
}

.task {
  &-checked {
    background: rgb(57, 221, 57);
    opacity: 0.9;
  }

  &-unchecked {
    background: red;
  }
}