.container {
  &-add-task-form {
    width: 300px;
    display: flex;
    flex-direction: column;

    &__description {
      color:rgb(172, 30, 177);
      text-shadow: rgb(10, 124, 190) 1px 0 10px;
      font-size: 2.25rem;
    }

    &-field {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__add-name {
        font-size: 1.5rem;
        resize: none;
      }

      &__button-add {
        margin-top: 10px;
        width: 100px;
        height: 40px;
        border-radius: 20px;

        &:hover {
          background: rgb(151, 149, 149);
          transform: scale(1.1);
        }
      }
    }

  }

}