.add-task-form {
  width: 300px;
  display: flex;
  flex-direction: column;

  &__description {
    color:rgb(172, 30, 177);
    text-shadow: rgb(10, 124, 190) 1px 0 10px;
    font-size: 2.25rem;
  }

  &-field {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__add-name {
      font-size: 1.5rem;
      resize: none;
    }

    &__validation-error {
      color:rgb(172, 30, 177);
      text-shadow: rgb(10, 124, 190) 1px 0 10px;
      font-size: 1.5rem;
    }

    &-actions {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__button { 
        margin-top: 10px;
        width: 120px;
        height: 40px;
        border-radius: 20px;
        font-size: 1.1rem;

        &:hover {
          background: rgb(151, 149, 149);
          transform: scale(1.1);
        }
      }
    }
  }
}